html {
	background-color: gray;
}

header.container {
	background-color:gray;
}

section {
}

header {
	background-color: #E7EFE7;
	border: solid 1px #669A68;
	font-color: #669A68;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
	color: #000000;
}

header h4 {
	padding: 1em 2em;
	color: #000000;
}

section div h4 {
	text-align: center;
}

div img {
	border-radius: 45%;
	border: solid 5px #669A68;
}

.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  background-color: gray;
  border-left:solid 1px black;
}

.btn.btn-primary:hover {
	opacity: .5;
	background-color: #ffffff;
}

.btn.btn-primary:click {
	opacity: .5;
	background-color: #669A68;
}