html {
	background-color: #ffffff;
}

header.container {
	background-color:#222222;
}

section {
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
	color: #000000;
}

header h4 {
	padding: 1em 2em;
	color: #000000;
}

div img {
	border-radius: 50%;
	border: solid 5px #222222;
}

.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  background-color: #222222;
  border-left:solid 1px black;
}

.btn.btn-primary:hover {
	opacity: .5;
	background-color: #ffffff;
}

.btn.btn-primary:active {
	opacity: .5;
	background: #669A68;
}

.btn.btn-primary:focus {
	opacity: .5;
	background: #669A68;
}

section a 
.href {
	color: #666666;
}

.heading_of_section {
	font-weight: bold; 
	text-align: center; 
	color: #43ac6a
}

.container, section.jumbotron {
	background-color: #57BC90;
	opacity: 1;
}