body {
	background-color:#afb4b7;
	font-family: Georgia;
}
section {
	background
}

header {
	background-color: #E7EFE7;
	border-radius:10px;
	border: solid 5px #669A68;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
	color: #000000;
}

header h4 {
	padding: 1em 2em;
	color: #ffffff;
}

section div h4 {
	text-align: center;
}

div img {
	border-radius: 45%;
	border: solid 5px #669A68;
}

.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  background-color: black;
  border-right:solid 1px #ffffff;
}

.btn.btn-primary:hover {
	opacity: .5;
	background-color: gray;


}